<p>home works!</p>
<h1>引入图片</h1>
<img src="assets\24110307_8.jpg">
<img [src]="src">
<ul>
    <li *ngFor="let item of list;">
        {{item.title}}
    </li>
</ul>
<span [ngSwitch]="index">
    <p *ngSwitchCase="1">
        成功
    </p>
    <p *ngSwitchCase="2">
        失败
    </p>
    <p *ngSwitchDefault>
        继续
    </p>
</span>
<li *ngFor="let item of list;let key=index">
    {{key}}---{{item.title}}}
</li>
<div [ngClass]="{'blue':false,'red':true}">
    ngClass演示
</div>
<p style="color: rebeccapurple;">hhh</p>
<p [ngStyle]="{'color':'red'}">hahahah</p>

<p>{{today}}</p>
<button (click)="run()"></button>
<button (click)="change()">IAMA{{title}}</button>
<input type="text" [(ngModel)]="keywords" />
{{keywords}}